@use "./main.sass";

body {
  font-family: Caveat, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
